<% provide(:title, 'All books') %>
<p id="notice"><%= notice %></p>
<section style="padding-top: 50px">
	<ul class="list-group">
		<%= render 'grid' %>
	<div class="button">
		<a href="/books.csv" alt="Download all to .csv">Download all to .csv</a>
	</div>
</section>
</div>
</div><!--end main content-->
