<% provide(:title, 'New book') %>
<p id="notice"><%= notice %></p>
<div class="header-content">
    <div class="text left">
      <h2 class="light">New book</h2>
  </div>
</div>

<%= render 'form' %>
